.container {
  background-color: var(--blue);
  position: relative;
}

.container::after {
  z-index: 5;
  pointer-events: none;
  content: "";
  opacity: 0.05;
  background: url("/gifs/grain.gif");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  padding-top: 10rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.dataBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.span {
  font-size: 4rem;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  color: var(--lightBlue);
  text-decoration: underline;
  /* white-space: nowrap;
  cursor: pointer; */
}

.span:hover {
  text-decoration: underline;
}

.heading {
  font-size: 15vw;
  text-align: center;
  color: var(--lightBlue);
}

.iconContainer {
  width: 50rem;
  height: 50rem;
  border: 3px dashed var(--lightBlue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.iconContainer:hover {
  background-color: var(--lightBlue);
    border: 3px dashed var(--blue);

}

.icon {
  width: 50rem;
  height: 50rem;
  color: var(--lightBlue);
  transition: all 0.2s ease-in;
}

.iconContainer:hover .icon {
  color: var(--blue);
}

.copy {
  color: var(--lightBlue);
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1068px) {
  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding-top: 5rem;
  }

  .copy {
    width: 100%;
  }

  .iconContainer {
    width: 30rem;
    height: 30rem;
  }

  .icon {
    width: 30rem;
    height: 30rem;
  }
}
