.container {
  background-color: var(--tan);
}

.content {
  margin-top: 5rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.span {
  font-size: 2.8rem;
  text-align: center;
  width: 100%;
}

.heading {
  font-size: 10vw;
  text-align: center;
}
