.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: var(--yellow);
  padding-top: 15rem;
}

.left {
      align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
}

.price {
  font-size: 10rem;
  -webkit-text-stroke: 2px var(--brown);
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  text-align: center;
}

.heading {
  color: var(--brown);
  text-align: center;
  font-size: 11rem;
}

.parent {
  background-color: var(--tan);
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
  border-top: 1px solid var(--border);
}

/* .productMediaContainer {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
} */

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-left: 1px solid var(--border);
  /* padding-top: 2rem; */
  /* padding-left: 2rem; */
  gap: 3rem;
}

.productName {
  font-size: 5.5rem;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: var(--brown);
}

.infoBoxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: var(--red);
}

.readMore {
  cursor: pointer;
  color: blue;
  font-weight: bold;
  user-select: none;
  margin-top: 2rem;
}

.infoContainer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease, opacity 0.5s ease-in;
  opacity: 0;
  margin-bottom: 2rem;
}

.infoContainer.show {
  max-height: 500px;
  opacity: 1;
}

.description {
  color: var(--text);
  opacity: 0.8;
  /* line-height: 1.5; */
  font-size: 1.1rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.description p {
  font-size: 1.1rem;
}

.description li {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.quantityInfoBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantityInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.quantityLabel {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.quantitySelector {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--brown);
  width: max-content;
  white-space: nowrap;
  user-select: none;
  display: inline-block;
  padding: 0.7rem;
  position: relative;
  left: 1px;
}

.quantityButton {
  background: none;
  border: none;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: var(--SuisseIntlMonoRegular);
}

.quantityDisplay {
  text-align: center;
  font-variant-numeric: tabular-nums;
  font-family: var(--SuisseIntlMonoRegular);
}

.stockWarning {
  color: var(--umber);
}

.btnContainer {
  width: 100%;
}

.collapsibleSection {
  width: 100%;
  margin-top: 2rem;
}

@media screen and (max-width: 870px) {
  .container {
    margin-top: 5rem;
    border-top: none;
  }
}

@media screen and (max-width: 1068px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .right {
    border: 1px solid var(--border);
    padding: 2rem;
  }
}

@media screen and (max-width: 968px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
