.container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  display: block;
  user-select: none;
  padding: 1rem;
}

.svg {
  text-transform: uppercase;
  user-select: none;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textPath {
  fill: var(--brown);
}

.olive {
  fill: var(--olive);
}

.iconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--green);
}

.icon {
  width: 5rem;
  height: 5rem;
  color: var(--brown);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightBlue {
  fill: var(--lightBlue);
  color: var(--lightBlue);
}

@media screen and (max-width: 568px) {
  .container {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 230px;
    height: 230px;
  }
}
