.container {
  background-color: var(--blue);
  position: relative;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.container::after {
  z-index: 5;
  pointer-events: none;
  content: "";
  opacity: 0.05;
  background: url("/gifs/grain.gif");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top {
  margin-bottom: 3rem;
}

.heading {
  color: var(--tan);
  line-height: 1.125;
  font-size: 7.5vw;
  width: 70%;
}

.headingii {
  color: var(--tan);
  font-size: 4.5rem;
}

.copyii {
  color: var(--tan);
}

.boxContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "one two three"
    "one four five";
  grid-template-columns: 2.5fr 1fr 1fr;
  padding-bottom: 1rem;
  width: 100%;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 10px;
  padding: 1rem;
  min-height: 270px;
  grid-area: one;
  background-color: var(--teal);
}

.blend {
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.box1 {
  grid-area: 2;
  height: 100%;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box1B,
.box2B,
.box3B,
.box4B,
.box5B {
  position: relative;
  border-radius: 10px;
}

.box1 {
  grid-area: two;
}

.box2 {
  grid-area: two;
}

.box3,
.box4B,
.box2B {
  color: var(--tan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.box3 {
  background-color: var(--teal);
}

.smallHeadingDark {
  color: var(--blue);
  text-align: center;
}

.box4 {
  grid-area: three;
  background-color: var(--teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.smallHeading {
  color: var(--tan);
  text-align: center;
}

.boxContainer2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "oneB twoB threeB"
    "fourB fiveB threeB";
  grid-template-columns: 1fr 1fr 2.5fr;
  width: 100%;
  margin: 0 auto;
}

.box1B {
  grid-area: twoB;
}

.box2B {
  grid-area: oneB;
  background-color: var(--yellow);
}

.boulders {
  color: var(--brown);
}

.box3B {
  grid-area: threeB;
  grid-area: threeB;
  height: 270px;
}

.box4B {
  grid-area: fiveB;
  background-color: var(--yellow);
}

.troon {
  color: var(--tan);
}

.box5B {
  grid-area: fourB;
}

.golfCourse {
  color: var(--tan);
}

.beeswax {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 6rem;
  color: var(--blue);
  border-radius: 10px;
  background-color: var(--yellow);
}

.btnContainerii {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 868px) {
  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box1B,
  .box2B,
  .box3B,
  .box4B,
  .box5B {
    min-height: 150px;
  }

  .boxContainer {
    grid-template-areas:
      "one one"
      "two three"
      "four five";
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 1rem 0;
  }

  .box1 {
    order: -1;
  }

  .box5 {
    grid-column: span 2;
    display: none;
  }
  .boxContainer2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "threeB threeB"
      "oneB twoB"
      "fourB fiveB";
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 1rem 0;
  }

  .btnContainerii {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 9vw;
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .boxContainer {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-template-columns: repeat(1, 1fr);
  }

  .boxContainer2 {
    grid-template-areas:
      "oneB"
      "twoB"
      "threeB"
      "fourB"
      "fiveB";
    grid-template-columns: repeat(1, 1fr);
  }

  .box2,
  .box1,
  .box1B,
  .box5B {
    display: none;
  }

  .btnContainerii {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0rem;
  }

  .beeswax {
    font-size: 4.5rem;
  }

  .heading {
    font-size: 10vw;
  }
}
