.container {
  position: relative;
  width: 100%;
  min-height: 55vh;
  position: relative;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 5;
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container,
  .content {
    height: 40vh;
  }
}
